@import "modules/mixins";
@import "modules/variables";

@import "utilities/grid";
@import "utilities/responsive";

@import "partials/nav";
@import "partials/base";
@import "partials/forms";
@import "partials/footer";

.post {
  background-color: #e5e5e5;
  border: 1px solid black;
  margin: 10px 0;
  padding: 10px;
}

#categories .category {
  background-color: #e5e5e5;
  border: 1px solid black;
  margin: 10px 0;
  padding: 10px;
}
