body {
  @include defaults;
}
section.main-content {
  @extend .container;
  @extend .clearfix;
  padding-top: 30px;

  header {
    h1{
      text-align: center;
      color: red;
    }
    h2{
      text-align: center;
      color: red;
    }
  }

  div.posts {
    @extend .grid_10;

    h3 {
    color: blue;
    text-transform: uppercase;
  }
}

  div.forms {
    @extend .grid_6;
  }
}
