div.form-group {
  display: block;
  padding-top:10px;

  label {
    display: block;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    width: 100%;
  }

  textarea#post-body {
    min-height: 100px;
  }

  ul#post-category {
    list-style-type: none;
    padding-left:0;
    padding-top: 10px;
    padding-bottom: 15px;
    margin:0;
    //display: inline;
    //width: 100%;
  }
  ul#post-category li {
    padding-top: 3px;
  }
}

